{% extends "archive/base.html" %}

{% block title %}Asylum - Archive - NFC Keychain{% endblock %}

{% block content_archive %}

<h1 class="center">NFC Keychain</h1>
<h3 class="center p80 center-self">
    Take advantage of HQ's AMS by designing your very own MULTICOLOR 3D printed keychain! 
    Design a print with an embedded NFC sticker, and get it mailed straight to you!
</h3>
<br>
<p class="center p80 center-self">
    In this Asylum YSWS, you can design a 3D printed keychain with an NFC sticker embedded in it. 
    You can make your keychain store a link to a commonly visited website, add your contact information to quickly share it, 
    or put sign in info for your wifi network to let guests easily access it.
</p>
<p class="center p80 center-self">
    To get started you can go to the <a href="https://github.com/hackclub/asylum/tree/master/nfc-keychain" target="_blank" class="double-underline">GitHub repository</a> for this project and check out the instructions. 
    They are pretty bare-bones so you can check out the <a href="/guides" class="double-underline">guides</a> section for some more detailed instructions.
</p>
<br>
<p class="center p80 center-self">
    The Bambu Labs AMS (Automatic Material System) is an automated 3D printing system that allows a Bambu Labs 3D printer to print in multiple colors. 
    Multicolor is common in standard 3D printers but it is usually done manually by swapping out the filament at a specific layer and having text or any other designs embossed. 
    With the Bambu Labs AMS, you can have multiple colors in a single layer, allowing for more complicated designs and giving a more cleaner look.
</p>
<p class="center p80 center-self">
    The NFC sticker is a small sticker that can be programmed using an app on your phone to do a variety of things when scanned. 
    You can program it to open a website, store your contact information, or even connect to a wifi network. 
    The sticker is embedded in the keychain so you can attach it to your backpack or keys so that you don't loose it.
</p>

{% endblock %}