{% extends 'base.html' %}


{% block title %}Asylum - Archive{% endblock %}

{% block content %}

<h1 class="center">Archive</h1>
<p class="center">
    This is where you will be able to find information about Asylum YSWS. 
    They probably won't be posted for at least a few days after a project is released.
</p>
<h2 class="center">Current Asylum YSWS</h2>
<ul class="archive-list" id="archive-list-current">
    <li>
        <div class="archive-card center-self">
            <a href="/archive/nfc-keychain" class="double-underline"><h3 class="center">NFC Keychain</h3></a>
            <p>Deadline: Jan 12th, 2025</p>
            <img src="https://fakeimg.pl/533x400" alt="placeholder" class="center">
            <p>
                Take advantage of HQ's AMS by designing your very own MULTICOLOR 3D printed keychain! Design a print with an embeded NFC sticker, and get it mailed straight to you!
            </p>
        </div>
    </li>
</ul>

<h2 class="center">Previous Asylum YSWS</h2>

{% endblock %}