{% extends "base.html" %}


{% block title %}Asylum - Getting Started{% endblock %}

{% block content %}

<h1 class="center">Getting Started</h1>

<h3 class="p80 center-self p80 center">
    Hey! Welcome to Asylum! Want to work on a project but have no clue how to start? You are in the right place!
</h3>

<h2 class="center" id="git">Getting Started With Git</h2>
<p class="center-self p80">
    Asylum is hosted on GitHub so it will be very helpful to know how git works. Let's start with the basics. 
    Git is a version control system that allows you to keep track of changes in your code. 
    It is very helpful when working with other people on a project because each person can work on their own part and then merge their changes later. 
    If you are new to git, I would recommend watching <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9goXbgTDQ0n_4TBzOO0ocPR" target="_blank" class="double-underline">this video series</a> to learn the basics. 
</p>
<p class="center-self p80">
    You don't need to understand git to participate, but knowing how to use it through a terminal will be helpful, although not necessary. 
    You can use the GitHub website to do most things that you would do through the terminal. 
</p>

<h2 class="center" id="github">GitHub</h2>
<p class="center-self p80">
    GitHub is a website that hosts git repositories. It is where the Asylum repository is located and where you will submit your projects. 
    If you don't have a GitHub account, you will need to create one in order to submit your project. 
</p>
<p class="center-self p80">
    Once you have your account, you will need to fork the <a href="https://github.com/hackclub/asylum" target="_blank" class="double-underline">Asylum repository</a>. 
    Click the 'Fork' button at the top of the page and then 'Create Fork' to confirm. This fork is where you will make your modifications and upload your files.
</p>

<h2 class="center" id="projects">Projects</h2>
<p class="center-self p80">
    When a new project is released, a new folder will be added to the <a href="https://github.com/hackclub/asylum/tree/main/designs" target="_blank" class="double-underline">designs folder</a> in the Asylum repository. 
    A bar that says you are behind the main repository will be shown in your fork with two buttons. Click the on one the right that says 'Sync fork' and click 'Update Branch'. 
    This will update your fork with the new project folder and any other changes that have been made to the main repository.
</p>
<p class="center-self p80">
    You can now work on the project. There will be some instructions in the folder for that project but I will also try to get a short page for each project up on this website in the <a href="/archive" target="_blank" class="double-underline">archive</a> section as soon as I can. 
    There will also be <a href="/guides" target="_blank" class="double-underline">guides</a> for each project to help you get started but it will probably take at least a few days after the project is released before it is ready.
</p>

{% endblock %}