{% extends "base.html" %}


{% block title %}Asylum - Home{% endblock %}

{% block content %}

<div class="center">
    <img src="{{ url_for('static', filename='asylum.png') }}" alt="ASYLUM" height="128">
</div>
<h1 class="center">Fast-Paced Hardware Based YSWS Like <a href="https://hackpad.hackclub.com" target="_blank" class="double-underline">Hackpad</a></h1>
<br>
<div class="">
    <p class="p80 center center-self">
        Welcome to Asylum! Asylum is a series of fast-paced hardware based YSWS in which you design a schematic for a project,
        turn it into a pcb, write code to power your device, and often design a case or enclosure to be 3D printed. 
        Because these are so fast, they will often have different requirements and not all projects will include all of these.
    </p>
</div>
{% endblock %}